.App {
  min-height: 100vh;
}
.navBar img {
  height: 65px;
  background-color: white;
  border-radius: 100px;
  border: #3e3e3e 1px solid;
}
.navBar{
  height:100px;
  background-color: #272626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  box-shadow: 0px 3px 7px #3e3e3e;
}
.logo{
  display: flex;
  align-items: center;
  margin-left: 30px;
  color: white;
  gap: 10px;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
}
.loginButtons{
  margin-right: 30px;
  display: flex;
  gap: 10px;
}
.loginButtons button{
  font-size: 22px;
  background-color: transparent;
  border: #eeee 1px solid;
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  font-weight: 700;
  color: orange;
}
.loginButtons button:hover{
  filter: brightness(0.9);
}
.loginButtons button:active{
  filter: brightness(0.7);
}
.main{
  min-height:88vh;
  background-color: #030303;
  padding: 15px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.postCardContainer{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #1a1a1a;
  border: rgba(117, 116, 116, 0.933) solid 1px;
  border-radius: 8px;
  box-sizing: border-box;
  height: 110px;
  cursor: pointer;
}
.postCardContainer:hover{
  border: rgba(233, 231, 231, 0.933) solid 1px; ;
}

.postCardContainer img{
  height: 85px;
  border-radius: 10px;
  margin-left: 10px;
}
.postCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  color: #D7DADC;
  padding: 13px;
  justify-content: space-between;
}
.postCardAuthor, .postCardComments{
  font-size: 17px;
  font-weight: 400;
}
.postCardAuthor{
  width: fit-content;
}
.postCardAuthor:hover{
  text-decoration: underline;
}
.postCardComments{
  color: #a4a6a8;
}
.profileContainer{
  background-color: #030303;
  min-height:88vh;
  padding: 15px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.profileUsername{
  color: #D7DADC;
  font-size: 25px;
  margin-bottom: 17px;
}
.postContainer{
  background-color: #030303;
  min-height:88vh;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}
.post{
  box-sizing: border-box;
  min-height:80vh;
  background-color: #1a1a1a;
  width: 70%;
  border-radius: 10px;
  color: rgb(194 197 199);
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 100px;
  padding-right: 70px;

}
.postTitle{
  color: rgb(205 208 210);
  font-size: 35px;
  font-weight: 600;
  margin-top: 20px;
}
.postAuthor{
  filter: brightness(0.8);
  margin-bottom: 5px;
}
.postContent{
  margin-top: 10px;
  font-size: 20px;
}
.makeComment{
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  width:100%;
  font-size: 20px;
  gap: 5px;
}
.commentArea{
  background-color: #1a1a1a;
  color: rgb(194 197 199);
  font-size: 15px;
}
.commentButton{
  align-self: flex-end;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px;
  width: 100px;
}
.commentButton:hover{
  filter: brightness(0.9);
}
.commentButton:active{
  filter: brightness(0.7);
}
.commentContainer{
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.commentTitle{
  display: flex;
  gap: 5px;
  color: rgb(205 208 210);
  font-size: 14px;
}
.commentUsername:hover{
  text-decoration: underline;
  cursor: pointer;
}
.commentPastTime{
  filter: brightness(0.7);
}
.commentContent{
  font-size: 20px ;
}